#left {
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  background: #c9c0b9;
  -webkit-clip-path: polygon(0 0, 50% 0, 43% 100%, 0% 100%);
  clip-path: polygon(0 0, 50% 0, 43% 100%, 0% 100%);
}

#right {
  position: absolute;
  top: 0;
  right: 0;
  height: 80vh;
  background: #070401;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 43% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 43% 100%);
}
